<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Favorite Pokemon</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>View Favorite Pokemon</h1>
        <p><strong>Name:</strong> <%= Name %></p>
        <p><strong>Email:</strong> <%= Email %></p>
        <p><strong>Favorite Pokemon:</strong> <%= Pokemon %></p>
        <p><strong>Why it's your favorite:</strong> <%= Why %></p>
        <br>

        <img src=<%= Image %>> <br>
        <a href="/">homepage</a>
    </body>
</html>